# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Format headings styles and normal text styles as markdown cells
- Add ordered and unordered lists to markdown cells
- Understanding of Jupyter Notebook basic functions such as Python, R, and other languages

## Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

## Some of the commonly used libraries used by Data Scientists include:

1. Tensorflow
2. NumPy
3. Pandas

| Data Science Tools|
| -------------|
| Apache Spark |
| Jupyter Notebook |
| R Studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

## Author ##
Ashley Aw